<header ng-switch on="$location.path().indexOf('/Enderecos/new') > -1">
    <h3 ng-switch-when="true">Create a new Endereco</h3>
    <h3 ng-switch-when="false">View or edit Endereco</h3>
</header>
<form id="EnderecoForm" name="EnderecoForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': EnderecoForm.logradouro.$invalid}">
        <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
        <div id="logradouroControls" class="col-sm-10">
            <input id="logradouro" name="logradouro" type="text" required class="form-control" ng-model="endereco.logradouro" placeholder="Enter the Endereco Logradouro"></input>
            <span class="help-block error" ng-show="EnderecoForm.logradouro.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EnderecoForm.cep.$invalid}">
        <label for="cep" class="col-sm-2 control-label">Cep</label>
        <div id="cepControls" class="col-sm-10">
            <input id="cep" name="cep" type="number" required class="form-control" ng-model="endereco.cep" placeholder="Enter the Endereco Cep"></input>
            <span class="help-block error" ng-show="EnderecoForm.cep.$error.required">required</span> 
            <span class="help-block error" ng-show="EnderecoForm.cep.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EnderecoForm.bairro.$invalid}">
        <label for="bairro" class="col-sm-2 control-label">Bairro</label>
        <div id="bairroControls" class="col-sm-10">
            <input id="bairro" name="bairro" type="text" required ng-maxlength="50" class="form-control" ng-model="endereco.bairro" placeholder="Enter the Endereco Bairro"></input>
            <span class="help-block error" ng-show="EnderecoForm.bairro.$error.required">required</span> 
            <span class="help-block error" ng-show="EnderecoForm.bairro.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EnderecoForm.cidade.$invalid}">
        <label for="cidade" class="col-sm-2 control-label">Cidade</label>
        <div id="cidadeControls" class="col-sm-10">
            <input id="cidade" name="cidade" type="text" required ng-maxlength="100" class="form-control" ng-model="endereco.cidade" placeholder="Enter the Endereco Cidade"></input>
            <span class="help-block error" ng-show="EnderecoForm.cidade.$error.required">required</span> 
            <span class="help-block error" ng-show="EnderecoForm.cidade.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EnderecoForm.estado.$invalid}">
        <label for="estado" class="col-sm-2 control-label">Estado</label>
        <div id="estadoControls" class="col-sm-10">
            <input id="estado" name="estado" type="text" required ng-maxlength="2" class="form-control" ng-model="endereco.estado" placeholder="Enter the Endereco Estado"></input>
            <span class="help-block error" ng-show="EnderecoForm.estado.$error.required">required</span> 
            <span class="help-block error" ng-show="EnderecoForm.estado.$error.maxlength">maximum length is 2</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveEndereco" name="saveEndereco" class="btn btn-primary" ng-disabled="isClean() || EnderecoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteEndereco" name="deleteEndereco" class="btn btn-danger" ng-show="endereco.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>