<div class="form-group">
	<div class="row">
		<div class="col-md-4">
			<label for="tipoLogradouro">Tipo:</label> 
			<input type="text" id="tipoLogradouro" name="logradouro" ng-model="endereco.tipoLogradouro"
				class="form-control" placeholder="Tipo Logradouro">
		</div>
		<div class="col-md-4">
			<label for="logradouro">Logradouro:</label> 
			<input type="text" id="logradouro" name="logradouro" ng-model="endereco.logradouro"
				class="form-control" placeholder="Logradouro">
		</div>
		<div class="col-md-4">
			<label for="bairro">Bairro:</label> 
			<input type="text" id="bairro" name="bairro" ng-model="endereco.bairro"
				class="form-control" placeholder="Bairro">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label for="cep">CEP:</label> 
			<input type="text" id="cep" name="cep" ng-model="endereco.cep"
				class="form-control" placeholder="CEP">
		</div>
		<div class="col-md-4">
			<label for="cidade">Cidade:</label>
			<input type="text" id="cidade" name="cidade" ng-model="endereco.cidade"
				class="form-control" placeholder="Cidade">
		</div>
		<div class="col-md-4">
			<label for="estado">Estado:</label>
			<input type="text" id="estado" name="estado" ng-model="endereco.estado" maxlength="2"
				class="form-control" placeholder="Estado">
		</div>
	</div>
</div>
