
Campos para pesquisar Endereços

<a ng-click="newEndereco()" class="btn-primary btn-lg nodecoration">Novo Endereço</a>

<div>
	<h4><b>Enderecos Cadastrados</b></h4>
</div>

<table id="tbl-enderecos" class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Logradouro</th>
    <th>Bairro</th>
    <th>Cep</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th></th>
  </tr></thead>
  <tbody><tr ng-repeat="endereco in enderecos">
    <td>{{endereco.tipoLogradouro}} {{endereco.logradouro}}</td>
    <td>{{endereco.bairro}}</td>
    <td>{{endereco.cep}}</td>
    <td>{{endereco.cidade}}</td>
    <td>{{endereco.estado}}</td>
    <td>
    	<a class="btn btn-default" ng-click="editEndereco(endereco.id)">Editar</a>
    	<a class="btn btn-default" ng-click="deleteEndereco(endereco.id)">Excluir</a>
    </td>
  </tr></tbody> 
</table>

